body{
    background-color:bisque;
}
.loli{
    text-shadow: 3px, 3px, 3px; color: deeppink;
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    
 


}

div .caja{
    margin:0px,50px, 50px,0px;
    text-align: center;
    width: 500px;
    padding: 30px;
    display: block;
    border-color: deeppink;
    border:8px solid;

}
