body{
    background-color:bisque;
}
.loli{
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    border: solid;color: black;
    
 


}

div .caja{
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    width: 500px;
    padding: 30px;
    display: block;
    border-color: deeppink;
    border:8px solid;
    margin: 200px 50px 10px 600px;

}
